.h1 {
    font-family: Georgia;
}

.color  {

    color: blue;
}

.color2 {

    color: red;
}
.capitalize {

    text-transform: capitalize;
}

.font-family  {

    font-family: Arial;

}


p.font-family  {

    color: darkgray;
}

h2.font-family {

    font-family: cursive;
    text-transform: capitalize;


}
